URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*transparent: true
URxvt*tintColor: white
URxvt*shading: 10
URxvt*urgentOnBell: true
URxvt*fading: 10

*background: rgb:11/11/11
*foreground: rgb:dd/dd/dd
*color0:     rgb:00/00/00
*color8:     rgb:66/66/66
*color1:     rgb:9e/18/28
*color9:     rgb:bc/57/66
*color2:     rgb:00/88/00
*color10:    rgb:61/a1/71
*color3:     rgb:d2/bb/4b
*color11:    rgb:e7/db/52
*color4:     rgb:86/a2/be
*color12:    rgb:98/af/d9
*color5:     rgb:96/3c/59
*color13:    rgb:a9/7a/99
*color6:     rgb:41/81/79
*color14:    rgb:6b/a4/a4
*color7:     rgb:dd/dd/dd
*color15:    rgb:ff/ff/ff

*TkTheme: alt
